<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Меме от
            <?php echo htmlspecialchars($meme['username']); ?> - MEME FORGE
        </title>
        <link rel="stylesheet" href="./css/view_meme.css">
    </head>

    <body>
        <div class="meme-image-container">
            <img src="<?php echo htmlspecialchars($meme['image_data']); ?>" alt="Meme" id="memeImage">
        </div>
    </body>

</html>